.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.4fr 1.8fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". head ."
    ". input ."
    ". list .";
}

.head { grid-area: head;
border-size:1 px;
border-style: solid;
background-color: lightgray;
border-color: navy;
border-radius: 2em
}

.input { grid-area: input;
  padding: 50px;
}

.list { grid-area: list;
  border-size:1 px;
  border-style: solid;
  background-color: lightgray;
  border-color: navy;
  border-radius: 2em
}
